<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======

>>>>>>> 39f6c9ba5595627a833cc9384da1c64e4e305dbf
>>>>>>> f56ad5860b5ef5c99080da91698f0781871e18e6
>>>>>>> 1bacda8c3c859664c40fe039ba889f933c555056
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
