<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<<<<<<< HEAD
<h2>"Comments"</h2>
<div id = "comments">
<% @post.comments.each do |comment| %>
<%= div_for comment do %>
   <p>
   <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br/>
   <%= h(comment.body) %> 		
   </P>
  <% end %>
<% end %>
</div>

<%= form_for ([@post, Comment.new]) do |f| %>
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<h2>"Comments"</h2>
<div id = "comments">
<%= render :partial => @post.comments.reverse %>
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
>>>>>>> 1bacda8c3c859664c40fe039ba889f933c555056

<p>
  <%=f.label :body, "New Comment" %> </br/>
  <%=f.text_area :body %>
</p>
<p>
  <%= f.submit "Add Comment" %></p>
<% end %>
	
<<<<<<< HEAD
=======
>>>>>>> 39f6c9ba5595627a833cc9384da1c64e4e305dbf
>>>>>>> f56ad5860b5ef5c99080da91698f0781871e18e6
>>>>>>> 1bacda8c3c859664c40fe039ba889f933c555056
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
