<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<<<<<<< HEAD
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
=======
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
>>>>>>> 1bacda8c3c859664c40fe039ba889f933c555056
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
